ShopifyExcel/.vs/config/applicationhost.config
ShopifyExcel/.vs/ShopifyExcel/v15/Server/sqlite3/storage.ide-wal
ShopifyExcel/.vs/ShopifyExcel/v15/Server/sqlite3/storage.ide-shm
ShopifyExcel/.vs/ShopifyExcel/v15/Server/sqlite3/storage.ide
ShopifyExcel/.vs/ShopifyExcel/v15/Server/sqlite3/db.lock
