@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    GTI Solutions
</address>

<address>
    <strong>Support:</strong> <a href="mailto:gtisolutions49@gmail.com">gtisolutions49@gmail.com</a><br />
</address>
