@model IEnumerable<DBTester.Models.ServiceTimeStamp>
@{
    ViewBag.Title = "Update";
}

<h2>Profile</h2>

<h3>GTI Solutionx Profile</h3>

<form asp-controller="Tools" asp-action="ExportToExcel" method="post"
      enctype="multipart/form-data" style="width: 60%">

    <p>
        This form creates a new profile on the database
        which will be used while creating the shopify excel creator.
    </p>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ProfileUser">User ID:</label>
            <input type="text" class="form-control" name="userID" placeholder="User ID" >
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Items</label>
            <input type="number" class="form-control" name="items" placeholder="Items" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">eBay Fee</label>
            <input type="text" class="form-control" name="fee" value="20%" readonly>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Promoting Listing (Percentage)</label>
            <input type="text" class="form-control" name="promoting" placeholder="Promoting Listing" value="10%" readonly>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Profit (Percentage)</label>
            <input type="text" class="form-control" name="profit" placeholder="Profit" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Markdown (Not a percentage)</label>
            <input type="text" class="form-control" name="markdown" placeholder="Markdown">
        </div>
        <div class="form-group col-md-12">
            <label for="exampleFormControlFile1">Excel</label>
        </div>
    </div>
</form>
