@page
@model DBTester.Models.ToolsModel
@{
    ViewBag.Title = "Tools";
}
<h2>Shopify Tools</h2>

<h3>eBay Excel creator</h3>

<p>
    This application is intended to create an excel which will
    be able to upload listings to shopify and then to eBay.
</p>

<form asp-controller="Tools" asp-action="ProductExport" method="post"
      enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="file" />
        <button class="form-control-file" type="submit">Upload File</button>
    </div>
</form>

