@model IEnumerable<DBTester.Models.ServiceTimeStamp>
@{
    ViewBag.Title = "Update";
}

<h2>Shopify Tools</h2>

<h3>eBay Excel creator</h3>

<form asp-controller="Tools" asp-action="ExportToExcel" method="post"
      enctype="multipart/form-data" style="width: 60%">

    <p>
        This application is intended to create an excel which will
        be able to upload listings to shopify and then to eBay.
    </p>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Shipping</label>
            <input type="text" class="form-control" name="shipping" placeholder="Shipping" value="$6" readonly>
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Items</label>
            <input type="number" class="form-control" name="items" placeholder="Items">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">eBay Fee</label>
            <input type="text" class="form-control" name="fee" value="20%" readonly>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Promoting Listing (Percentage)</label>
            <input type="text" class="form-control" name="promoting" placeholder="Promoting Listing" value="10%" readonly>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Profit (Percentage)</label>
            <input type="text" class="form-control" name="profit" placeholder="Profit" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Markdown (Not a percentage)</label>
            <input type="text" class="form-control" name="markdown" placeholder="Markdown">
        </div>
        <div class="form-group col-md-12">
            <label for="exampleFormControlFile1">Excel</label>
        </div>
        <div class="form-group col-md-12">
            <input type="file" class="form-control-file" name="file" required>
        </div>
        <div class="form-group col-md-12">
            <button class="form-control-file" type="submit">Upload File</button>
        </div>
    </div>
    <p>
        Last Fragrancex database update <b>@ViewBag.TimeStamp</b>. <br />
    </p>
</form>

