@page
@model DBTester.Models.ToolsModel
@{
    ViewBag.Title = "New Blog";
}

<h2>Shopify UPC Tool Up-loader</h2>

<h3>eBay Excel uploader</h3>

<p>
    This application is intended to upload the UPCs
    using an excel file onto the GTI Solutions' Database.
</p>

<form asp-controller="Tools" asp-action="UPCImporter" method="post"
      enctype="multipart/form-data">

    <input type="file" name="file" />
    <button type="submit">Upload File</button>
</form>
