@model IEnumerable<DBTester.Models.ServiceTimeStamp>
@{
    ViewBag.Title = "Update";
}

<h2>Shopify Tools</h2>

<h3>Fragrancex's database update</h3>

<p>
    This application is intended to update the
    GTI Solution's Fragrancex database. Such
    update includes item price and availability
    once a day.
</p>

<form asp-controller="Tools" asp-action="UpdateFragrancexExcel" method="post"
      enctype="multipart/form-data">

    <input type="file" name="file" />
    <button type="submit">Upload File</button>
</form>

<div class="table-responsive">
    <table id="myTable" class="display table" width="80%">
        <tr>
            <th>Last Updated Date</th>
            <th>Database Update Type</th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
        </tr>
        }
    </table>
</div>